body {
  background-color: white;
}

/* ESTABLISH THE COLUMNS FOR THE TABLE LAYOUT */
.column1 {
  display:inline-block;
  width: 225px;
  height: 700px;
  margin-left: 20px;
}

.column2 {
  display:inline-block;
  width: 225px;
  height: 700px;
}

.column3{
  display:inline-block;
  width: 225px;
  height: 700px;
}

/* CUSTOMIZE THE DATA FOR PRINTING */
section ul {
  display:inline-block;
  margin-left: 10px;
}

section li:nth-of-type(odd) {
  display: inline-block;
  font-weight: bold;
  margin-right:0px;
}

section li {
  display: inline-block;
  margin-right: 25px;
  /* font-weight: bold; */
  margin: 10px;
}

table {
  border: 1pt solid black;;
  width:225px;
  margin-bottom: 10px
}

th {
  border: 2px solid black;
  width:225px;
  text-align: left;
  font-weight:bold;
  font-size:80%;
  padding:3px;
  background-color: lightgray;
}

td {
  border: 1pt solid black;
  width:40px;
  text-align:center;
 }

td:nth-child(2) {
  text-align: center;
  width:15px;
  padding-left: 3px;
 
}

td:nth-child(3){
 width:150px;
 text-align:left;
 padding-left: 3px;
}

button {
  background-color: #031f6c;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px;
}

button:hover {
  background-color: #0a6c03;
}
